<template>
  <div >
    <div class="satisfaction-banner">30 Day Satisfaction Guarantee!</div>
    <div class="sale-banner">SALE</div>
    <div class="main-promo-panel">
      <img class="main-promo-image" src="../../assets/promos/homepage-image.jpg">
    </div>
    <div class="promo-section">
      <img class="promo-image" src="../../assets/promos/men-promo.jpg">
      <img class="promo-image" src="../../assets/promos/mens-promo-2.jpg">
      <img class="promo-image" src="../../assets/promos/mens-promo-3.jpg">
      <img class="promo-image" src="../../assets/promos/womens-promo.jpg">
      <img class="promo-image" src="../../assets/promos/womens-promo-2.jpg">
      <img class="promo-image" src="../../assets/promos/womens-promo-3.jpg">
    </div>
  </div>
</template>

<script>
export default {
  name: 'homepage',
  data () {
    return {

    }
  },
  created(){

  }
}
</script>

<style>
  .satisfaction-banner{
    text-align: center;
    background-color: #A8DADC;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 10px;
  }

  .sale-banner{
    text-align: center;
    background-color: deepskyblue;
    font-size: 6em;
    padding: 20px 0;
    letter-spacing: 10px;
    color: white;
  }

  .main-promo-image{
    width: 100%;
  }

  .promo-section{
    text-align: center;
    width: calc(100%/1.3);
    margin: 0 auto;
  }

  .promo-image{
    max-width: 300px;
  }
</style>
