<template>
    <div>
        The selected category is "{{ $route.params.category }}"
        and the types is "{{$route.params.type}}"
    </div>
    <!--<ul>-->
        <!--<li v-for="product in products">-->
            <!--{{ product.title }} - {{ product.price | currency }}-->
            <!--<br>-->
            <!--<button-->
                    <!--:disabled="!product.inventory"-->
                    <!--@click="addProductToCart(product)">-->
                <!--Add to cart-->
            <!--</button>-->
        <!--</li>-->
    <!--</ul>-->
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    export default {
        name: "products",
        computed: mapGetters({
            products: 'allProducts'
        }),
        methods: mapActions([
            'init',
            'addProductToCart'
        ]),
        data() {
            return{
                routerParams: ''
            }
        },
        created () {
            // this.$store.dispatch('getAllProducts')
            this.$store.dispatch('init', this.$route.params);
        },
        watch: {
            '$route' (to, from) {
                if (to.params !== from.params) {
                    this.$store.dispatch('init', to.params);
                }
            }
        }
    }
</script>