<template>
    <div id="app">
        <div class="header-container">
            <div class="top-strip-container">
                <div class="left-top-strip">
                    <img src="../assets/icons/uk.png">
                </div>
                <img class="header-logo" src="../assets/logos/otterlogo.png">
                <div class="right-top-strip">
                    <a href="www.yolo.com">
                        <div class="icon-container">
                            <img src="../assets/icons/glass.png">
                            <div>Search</div>
                        </div>
                    </a>
                    <a href="www.yolo.com">
                        <div class="icon-container">
                            <img src="../assets/icons/heart.png">
                            <div>Faves</div>
                        </div>
                    </a>
                    <a href="www.yolo.com">
                        <div class="icon-container">
                            <img src="../assets/icons/cart.png">
                            <div>Basket</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <nav>
            <router-link class="nav-button" @mouseover.native="openNav('womens')" @mouseout.native="openNav('none')" @click.native="openNav('none')" :to="{ name: 'womens-home'}">Womens
                <div v-if="expanded === 'womens'" class="menu-wrapper">
                    <div class="menu-container">
                        <div class="menu-colum">
                            <router-link :to="{ name: 'products', params: { category: 'womens', type: 'jeans' }}">This one.</router-link>
                            <div>Women's stuff</div>
                            <div>Women's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>Women's stuff</div>
                            <div>Women's stuff</div>
                            <div>Women's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>Women's stuff</div>
                            <div>Women's stuff</div>
                            <div>Women's stuff</div>
                        </div>
                    </div>
                </div>
            </router-link>
            <router-link class="nav-button" @mouseover.native="openNav('mens')" @mouseout.native="openNav('none')" @click.native="openNav('none')" :to="{ name: 'mens-home'}">Mens
                <div v-if="expanded === 'mens'" class="menu-wrapper">
                    <div class="menu-container">
                        <div class="menu-colum">
                            <router-link :to="{ name: 'products', params: { category: 'mens', type: 'jeans' }}">This one.</router-link>
                            <div>men's stuff</div>
                            <div>men's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>men's stuff</div>
                            <div>men's stuff</div>
                            <div>men's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>men's stuff</div>
                            <div>men's stuff</div>
                            <div>men's stuff</div>
                        </div>
                    </div>
                </div>
            </router-link>
            <router-link class="nav-button" @mouseover.native="openNav('kids')" @mouseout.native="openNav('none')" @click.native="openNav('none')" :to="{ name: 'kids-home'}">Kids
                <div v-if="expanded === 'kids'" class="menu-wrapper">
                    <div class="menu-container">
                        <div class="menu-colum">
                            <router-link :to="{ name: 'products', params: { category: 'kids', type: 'jeans' }}">This one.</router-link>
                            <div>kid's stuff</div>
                            <div>kid's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>kid's stuff</div>
                            <div>kid's stuff</div>
                            <div>kid's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>kid's stuff</div>
                            <div>kid's stuff</div>
                            <div>kid's stuff</div>
                        </div>
                    </div>
                </div>
            </router-link>
            <router-link class="nav-button" @mouseover.native="openNav('sales')" @mouseout.native="openNav('none')" @click.native="openNav('none')" :to="{ name: 'sales-home'}">Sale
                <div v-if="expanded === 'sales'" class="menu-wrapper">
                    <div class="menu-container">
                        <div class="menu-colum">
                            <router-link :to="{ name: 'products', params: { category: 'sales', type: 'jeans' }}">This one.</router-link>
                            <div>sale's stuff</div>
                            <div>sale's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>sale's stuff</div>
                            <div>sale's stuff</div>
                            <div>sale's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>sale's stuff</div>
                            <div>sale's stuff</div>
                            <div>sale's stuff</div>
                        </div>
                    </div>
                </div>
            </router-link>
            <router-link class="nav-button" @mouseover.native="openNav('brands')" @mouseout.native="openNav('none')" @click.native="openNav('none')" :to="{ name: 'brands-home'}">Brand
                <div v-if="expanded === 'brands'" class="menu-wrapper">
                    <div class="menu-container">
                        <div class="menu-colum">
                            <router-link :to="{ name: 'products', params: { category: 'brands', type: 'jeans' }}">This one.</router-link>
                            <div>brand's stuff</div>
                            <div>brand's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>brand's stuff</div>
                            <div>brand's stuff</div>
                            <div>brand's stuff</div>
                        </div>
                        <div class="menu-colum">
                            <div>brand's stuff</div>
                            <div>brand's stuff</div>
                            <div>brand's stuff</div>
                        </div>
                    </div>
                </div>
            </router-link>
        </nav>

        <router-view></router-view>

        <footer>
            <div class="social-media-container">
                <a href="https://www.linkedin.com/in/simon-lam-656671100/"><img src="../assets/icons/linkedin.png" class="social-media-image"></a>
                <a href="https://www.linkedin.com/in/simon-lam-656671100/"><img src="../assets/icons/facebook.png" class="social-media-image"></a>
                <a href="https://www.linkedin.com/in/simon-lam-656671100/"><img src="../assets/icons/instagram.png" class="social-media-image"></a>
                <a href="https://www.linkedin.com/in/simon-lam-656671100/"><img src="../assets/icons/snapchat.png" class="social-media-image"></a>
                <a href="https://www.linkedin.com/in/simon-lam-656671100/"><img src="../assets/icons/twitter.png" class="social-media-image"></a>
                <a href="https://www.linkedin.com/in/simon-lam-656671100/"><img src="../assets/icons/youtube.png" class="social-media-image"></a>
            </div>
            <div class="footer-container">
                <div class="column">
                    <div class="links-title">Store</div>
                    <a href="yolo.com"><div>Proper Good Nosh</div></a>
                    <a href="yolo.com"><div>A semi one</div></a>
                    <a href="yolo.com"><div>Just a regular please</div></a>
                    <a href="yolo.com"><div>XyZ</div></a>
                </div>
                <div class="column">
                    <div class="links-title">Useful Links</div>
                    <a href="yolo.com"><div>Proper Good Nosh</div></a>
                    <a href="yolo.com"><div>A semi one</div></a>
                    <a href="yolo.com"><div>Just a regular please</div></a>
                    <a href="yolo.com"><div>XyZ</div></a>
                </div>
                <div class="column">
                    <div class="links-title">About</div>
                    <a href="yolo.com"><div>Proper Good Nosh</div></a>
                    <a href="yolo.com"><div>A semi one</div></a>
                    <a href="yolo.com"><div>Just a regular please</div></a>
                    <a href="yolo.com"><div>XyZ</div></a>
                </div>
                <div class="column">
                    <img class="footer-logo" src="../assets/logos/otterlogo.png">
                    <div class="footer-info">07799673369</div>
                    <div class="footer-info">otterapparel@oaparrel.com</div>
                    <div class="footer-info">United Kingdom</div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'app',
        data(){
            return{
                expanded: ''
            }
        },
        methods: {
            openNav: function (tab) {
                this.expanded = tab;
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Source Sans Pro', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .header-container{
        width: 100%;
    }

    .left-top-strip{
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 0 0 15px;
    }

    .right-top-strip{
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 15px 0 0;
    }

    .icon-container{
        text-align: center;
        display: inline-block;
        padding: 0 10px;
        font-weight: bold;
        color: black;
    }

    .header-logo{
        height: 80px;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
    }

    a:hover{
        cursor: pointer;
    }

    a:link {
        text-decoration: inherit;
        color: inherit;
    }

    a:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }

    nav{
        text-align: center;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
    }

    .nav-button{
        padding: 15px 30px;
        display: inline-block;
    }

    .menu-wrapper{
        /*display: none;*/
        position: absolute;
        margin-top: 0px;
        width: 100%;
        background-color: white;
        left: 0;
        text-align: center;
    }

    .menu-container{
        padding: 50px 30%;
        display: flex;
    }

    .menu-colum{
        margin: 0 auto;
        text-align: left;
    }

    .social-media-container {
        margin: auto;
        text-align: center;
        padding-bottom: 50px;
    }

    .social-media-image {
        padding: 0 10px;
    }

    footer{
        background-color: #1D3557;
        margin-top: 50px;
        color: white;
        padding: 50px 0;
    }

    .footer-container{
        text-align: center;
        display: flex;
        padding: 0 15%;
    }

    .column{
        margin: 0 auto;
        text-align: left;
    }

    .links-title{
        text-decoration: underline;
        font-weight: bold;
    }

    .footer-logo{
        height: 50px;
    }

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px) {
        /* Styles */
    }

    /* Smartphones (landscape) ----------- */
    @media only screen
    and (min-width: 321px) {
        /* Styles */
    }

    /* Smartphones (portrait) ----------- */
    @media only screen
    and (max-width: 320px) {
        /* Styles */
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
        /* Styles */
    }

    /* iPads (landscape) ----------- */
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape) {
        /* Styles */
    }

    /* iPads (portrait) ----------- */
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait) {
        /* Styles */
    }

    /* Desktops and laptops ----------- */
    @media only screen
    and (min-width: 1224px) {
        /* Styles */
    }

    /* Large screens ----------- */
    @media only screen
    and (min-width: 1824px) {
        /* Styles */
    }

    /* iPhone 4 ----------- */
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        /* Styles */
    }
</style>
